.about{
  display: flex;
  line-height: 4rem;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
//  background-color: rgba($color-2,.8);

  &__text{
   padding: 5rem;
  }
  &__pic{
    padding: -5rem 5rem 0 5rem;
  }
}

.portfolio{
  padding: 5rem;
}
